#profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.committee-profile {
    width: 25%;
    min-width: 350px;
    background-color: $backgroundColorLight;
    display: flex;
    margin: 2% 10px;
    border-radius: 4px;
}

.committee-profile .text {
    margin: 0.5em;
    min-width: 100px;
}

.committee-profile img {
    min-width: 200px;
    max-width: 300px;
    min-height: 100px;
    max-height: 250px;
    border-radius: 2px;
    margin:0.7em 0.3em;
    object-fit: cover;
}

.committee-profile h3 {
    font-weight: bold;
}