$backgroundColorLight: #33354b;

#profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.committee-profile {
    width: 25%;
    min-width: 370px;
    background-color: $backgroundColorLight;
    display: flex;
    margin: 2% 3%;
    padding: 0.1em;
}

.committee-profile .text {
    margin: 0.5em;
    min-width: 100px;
    
}

.committee-profile img {
    min-width: 200px;
    max-width: 300px;
    min-height: 100px;
    max-height: 250px;
    border-radius: 2px;
    margin:0.7em 0.3em;
}

main h3.title-center {
    text-align: center;
}