$backgroundColorLight: #33354b;

#profiles {
    display: inline;
}

.committee-profile {
    width: 25%;
    background-color: $backgroundColorLight;
    display: flex;
    margin: 4% 6%;
}

.committee-profile .text {
    margin: 3%;
}

.committee-profile img {
    width: 55%;
    height: 60%;
    margin: 4%;
}

main h3.title-center {
    text-align: center;
}