body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100%;
  width: 100%;
  margin: 0
}

#indexBody{
  padding: 1em;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: $backgroundColor
}

.banner {
  width: 100%;
  background-color: $backgroundColorLight;
  padding: 0;
  margin: 0;
  border: 0;
}

.banner h1 {
  color: black;
  border-style: hidden;
  border-width: 2px 0;
  padding: 0.4% 0.3%;
  margin: 0 0 0 1.1%;
}

.banner h1 a {
  outline : none;
  text-decoration: none;
  color: $pinkColor;
}

.banner h1 a:visited {
  color: $pinkColor;
}

.nav {
  width: 100%;
  background-color: $backgroundColorLight;
  padding: 0;
  margin: 0;
  border: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  border: 0;
}

.nav ul a {
  outline : none;
  text-decoration: none;
  color: $lightBlue;
  display: inline-block;
  padding: 0.3%;
  margin: 0.25em 0 0.25em 1.1%;
}

.nav ul a:visited {
  color: $lightBlue;
}

a {
  outline : none;
  text-decoration: none;
  color: $lightBlue
}

a:visited {
  color: $lightBlue
}

h2 {
  color: $pinkColor;
  text-align: center;
}

/*
credit for below code snippet:
https://stackoverflow.com/questions/2812770/add-centered-text-to-the-middle-of-a-hr-like-line
*/

.separator h2 {
  color: $pinkColor;
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1%;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $pinkColor;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.sub-title h2{
  color: $pinkColor;
  text-align: left;
  font-size: x-large;
}

/*
end of code snippet
*/