$backgroundColorLight: #33354b;

.opportunities {
    display: inline;
}

.opp {
    width: 25%;
    background-color: $backgroundColorLight;
    display: flex;
    margin: 4% 6%;
}

.opp .text {
    margin: 3%;
}