h3.title-center {
    text-align: center;
}

.session {
    background-color: $backgroundColorLight;
    margin: 2% 0%;
    padding: 0.6em;
    width: 75%;
    min-width: 370px;
    border-radius: 4px;
}

.session p {
    margin: 0;
}
