---
layout: default
title: Sessions
custom_css: sessions
---

<p>While we strongly encourage participants in the society to <a href="https://su.sheffield.ac.uk/activities/view/ethical-student-hackers-society" target="_blank">buy a membership</a>, it's important that interested individuals have the opportunity to trial a session before joining. To that end, we offer one free session a year to non-members; simply email us at <a href="mailto:ethicalhackers@sheffield.ac.uk">ethicalhackers@sheffield.ac.uk</a> and we'll add you to the list for that week.</p>

<p>Our regular sessions are hosted in person and streamed on Blackboard Collaborate, every Monday at 18:00 - 19:30 (ish). Members will be given access to our Blackboard Collaborate Organisation, from which they can view all sessions and recordings.</p>

<p>For step by step instructions on accessing our sessions and recordings, <a href="/sessions/access">click here.</a></p>

<p>Please bring a laptop to all sessions unless said otherwise. If you are not able to, please speak to someone on the committee.</p>

<div id="sessions">
    {% assign diffWord = "TBD,Easy,Medium,Hard" | split: "," %}
    {% assign diffColour = "grey,green,orange,red" | split: "," %}

    {% assign sessions = site.sessions | reverse%}
    {% for item in sessions %}
    {% assign currentSection = item.path | split: "/" %}
    {% if lastSection != currentSection[1] %}
        <div class="heading"><h3>{{ currentSection[1] }}</h3></div>
    {% endif %}
    {% assign lastSection = currentSection[1] %}
    <div class="session" id="{{item.sessionRef}}">
        <h4> <span class="session_date">{{ item.date | date_to_string }}</span> – <span class="session_title">{{ item.title }}</span></h4>
        <h5>Presented by {{ item.presenter }}</h5>
        <h5>Location: {{ item.location }}, {{ item.time }}</h5>
        <h5>Difficulty: <span style="color:{{ diffColour[item.difficulty] }}" >{{ diffWord[item.difficulty] }}</span></h5>

        <p>{{ item.content }}</p>

        {% if item.file-name != nil %}
            {% capture path %}
                /assets/wiki/{{ item.file-name }}
            {% endcapture %}
            <br>
            <a href="{{ path }}" target="_blank">{{ item.type}} session slides</a>
        {% endif %}

        {% if item.pdf-file-name != nil %}
            {% capture pdf-path %}
                /assets/wiki/{{ item.pdf-file-name }}
            {% endcapture %}

            {% if item.file-name != nul %}
                or
            {% else %}
                <br>
            {% endif %}
            <a href="{{ pdf-path }}" target="_blank">PDF session slides</a>
        {% endif %}
        
        {% if item.fundamental != nil %}
            <br>
            <p>Fundamental Skills</p>
            {% for skill in item.fundamental  %}
                {% capture fundamental-path %}
                    /wiki/fundamental-skills/{{ skill.link }}
                {% endcapture %}
                <a href="{{ fundamental-path }}" target="_blank"> {{skill.link}}</a>
                <br>
            {% endfor %}
        {% endif %}

    {% if item.dependencies != nil %}
        {% if item.fundamental == nil %}
            <br>
        {% endif %}
        <p>Dependent Sessions (Recap may be needed)</p>
        {% for sessiondependency in item.dependencies %}
            <a href="#{{ sessiondependency.session[0].ref }}" > {{sessiondependency.session[1].name}}</a>
            <br>
        {% endfor %}
    {% endif %}

    {% if item.requirements != nil %}
        {% if item.dependencies == nil %}
            <br>
        {% endif %}
        <p>Software / Link Requirements (These will need to be installed or registered prior to the Session)</p>
        {% for requirement in item.requirements %}
            <a href="{{ requirement.software[0].ref }}" > {{requirement.software[1].name}}</a>
            <br>
        {% endfor %}
    {% endif %}

    </div>
    {% endfor %}
    
</div>
