<footer>
    <div class="footer-left">

        <img src="/assets/images/image.png" alt="SESH Logo">

        <p class="footer-links">

        </p>

        <p class="footer-company-name">Sheffied Ethical Student Hackers &copy; 2021</p>
    </div>

    <div class="footer-center">

        <div>
            <img src="/assets/images/icons/location.png" alt="location icon" class="fa fa-map-marker"></img>
            <p><span>The Diamond</span> Sheffield, England</p>
        </div>

        <div>
            <img src="/assets/images/icons/message.png" alt="message icon" class="fa fa-envelope"></img>
            <p><a href="mailto:ethicalhackers@sheffield.ac.uk"><span>ethicalhackers@sheffield.ac.uk</span></a></p>
        </div>

        <div>
            <img src="/assets/images/icons/conduct.png" alt="Code of conduct icon" class="fa something"></img>
            <p><a href="/downloads/SESH%20Code%20of%20Conduct.pdf" target="_blank"><span>Code of conduct</span></a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About SESH</span>
            A society dedicated to hands-on cyber security and ethical hacking. We have sessions every Monday at 18:00-19:30. Join us <a href="https://su.sheffield.ac.uk/activities/view/ethical-student-hackers-society" target="_blank">Here!</a>
        </p>

        <div class="footer-icons">
            <a href="https://discord.gg/PwuM5BxztC" target="_blank">
                <img src="/assets/images/icons/discord.png" alt="Discord Logo"></a>
            <a href="https://twitter.com/_shefesh" target="_blank">
                <img src="/assets/images/icons/twitter.png" alt="Twitter Logo"></a>
            <a href="https://www.facebook.com/shefesh" target="_blank">
                <img src="/assets/images/icons/facebook.png" alt="Facebook Logo"></a>
            <a href="https://github.com/ShefESH" target="_blank">
                <img src="/assets/images/icons/github.png" alt="Github Logo"></a>
            <a href="https://www.linkedin.com/company/sheffield-ethical-student-hackers" target="_blank">
                <img src="/assets/images/icons/linkedin.png" alt="Linkedin Logo"></a>

        </div>

    </div>

</footer>
<script type="text/javascript" onload="setNavmenuColor(document);" src="{{site.baseurl}}/assets/js/navmenu.js"></script>
