<nav class="nav">
    <ul>
        <li class="menu-link" > <a href="/">Home</a> </li>
        <li class="menu-link">
            <a id="sessions" href="/sessions">Sessions</a>
        </li>
        <li class="menu-link">
            <a id="committee" href="/committee">Committee</a>
        </li>
        <li class="menu-link">
            <a id="contact" href="/contact">Contact</a>
        </li>
        <li class="menu-link">
        <a href="https://su.sheffield.ac.uk/activities/view/ethical-student-hackers-society" target="_blank" style="margin: 0;">Join us!</a>
        </li>
        <li class="dropdown menu-link" href="/careers">
            <button id="careers" class="dropbtn">Careers</button>
            <div class="dropdown-content">
                <a href="/careers">Careers Home</a>
                <a href="/careers/partners">Partners</a>
                <a href="/careers/opportunities">Opportunities</a>
            </div>
        </li>
        <li class="dropdown menu-link" href="/wiki">
            <button id="wiki" class="dropbtn">Wiki</button>
            <div class="dropdown-content">
                <a href="/wiki">Wiki Home</a>
                <a href="/wiki/sessions">Past Sessions</a>
                <a href="/wiki/worksheets">Worksheets</a>
                <a href="/wiki/resources">Resources</a>
                <a href="/wiki/virtual-machine">Virtual Machine</a>
            </div>
        </li>
    </ul>
</nav>
