<nav class="nav">
    <ul>
        <li class="menu-link hamburger-menu" onClick="toggleNavExpansion()">
            <br>
            <i class="fas fa-bars"></i>
            <br>
        </li>
        <li class="menu-link mobile-hidden" > <a id="home" href="/">Home</a> </li>
        <li class="menu-link mobile-hidden">
            <a id="sessions" href="/sessions">Sessions</a>
        </li>
        <li class="menu-link mobile-hidden">
            <a id="committee" href="/committee">Committee</a>
        </li>
        <li class="menu-link mobile-hidden">
            <a id="contact" href="/contact">Contact</a>
        </li>
        <li class="menu-link mobile-hidden">
        <a href="https://su.sheffield.ac.uk/activities/view/ethical-student-hackers-society" target="_blank" style="margin: 0;">Join us!</a>
        </li>
        <li class="dropdown menu-link mobile-hidden" href="/careers">
            <button id="careers" class="dropbtn">Careers</button>
            <div class="dropdown-content">  
                <a id="careers-home" href="/careers">Careers Home</a>
                <a id="opportunities" href="/careers/opportunities">Opportunities</a>
            </div>
        </li>
        <li class="dropdown menu-link mobile-hidden" href="/wiki">
            <button id="wiki" class="dropbtn">Wiki</button>
            <div class="dropdown-content">
                <a id="wiki-home" href="/wiki">Wiki Home</a>
                <a id="worksheets" href="/wiki/worksheets">Worksheets</a>
                <a id="resources" href="/wiki/resources">Resources</a>
                <a id="virtual-machine" href="/wiki/virtual-machine">Virtual Machine</a>
            </div>
        </li>
        <li class="menu-link mobile-hidden search">

            <script async src="https://cse.google.com/cse.js?cx=1a4631b5526886fa2"></script>
            <div width='30%' class="gcse-search"></div>
        </li>
    </ul>
</nav>
