<nav class="nav">
    <ul>
        <a href="/">Home</a>
        <a href="/sessions">Sessions</a>
        <a href="/committee">Committee</a>
        <a href="/contact">Contact</a>
        <a href="https://yoursu.sheffield.ac.uk/groups/ethical-student-hackers-society" target="_blank">Join us!</a>
        <div class="dropdown" href="/careers">
            <button class="dropbtn" onclick="document.location='/careers'">Careers</button>
            <div class="dropdown-content">
                <a href="/careers/partners">Partners</a>
                <a href="/careers/opportunities">Opportunities</a>
            </div>
        </div>
        <div class="dropdown" href="/wiki">
            <button class="dropbtn" onclick="document.location='/wiki'">Wiki</button>
            <div class="dropdown-content">
                <a href="/wiki/sessions">Sessions</a>
                <a href="/wiki/resources">Resources</a>
                <a href="/wiki/virtual-machine">Virtual Machine</a>
            </div>
        </div>
    </ul>
</nav>
