$backgroundColor: #1c1e29;
$backgroundColorLight: #33354b;
$bodyColor: #fff;
$pinkColor: #eb3c68;
$lightBlue: #00e7e7;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

.content-wrapper {
    flex-grow: 1;
    width: 80%;
    padding: 10%;
    padding-top: 0;
    margin: 0;
}

.banner h1 {
    font-size: 2.5rem;
}

#banner h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h3.title-center, p.title-center {
    text-align: center;
}

#banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#banner img{
    height: 250px;
    //width: 250px;

}
