body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100vh;
  width: 100%;
  margin: 0
}

#indexBody{
  padding: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $backgroundColor;
}

#banner_nav_wrapper {
  display: flex;
  // flex-direction: row;
  flex-direction: column;
}

// @media screen and (min-width: 1025px) {
//   #banner_nav_wrapper {
//     flex-direction: column;
//   }
// }



// rules for banner

.banner {
  width: 80%;
  background-color: $backgroundColorLight;
  padding: 0 10% 0 10%;
  margin: 0;
  border: 0;
}

.banner h1 {
  border-style: hidden;
  border-width: 2px 0;
  padding: 2% 0.9% 2% 0.3%;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.banner h1 a {
  outline : none;
  text-decoration: none;
  color: $pinkColor;
}

.banner h1 a:visited {
  color: $pinkColor;
}

// rules for navbar

.nav {
  width: 80%;
  background-color: $backgroundColorLight;
  padding: 0 10% 0 10%;
  margin: 0;
  border: 0;
  padding-bottom: 0.2em;
}

.nav ul {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  display: inline;
}

.nav ul a:not(#___gcse_0 *) {
  font-size: 1.2rem;
  outline : none;
  text-decoration: none;
  color: $lightBlue;
  display: inline-block;
  padding: 0.7em;
}

.nav ul li {
  padding: 0 1em 0 1em ;
}

.nav ul li button {
  cursor: default;
}

.nav ul a:visited {
  color: $lightBlue;
}

nav.sticky {
  position: fixed;
}

nav button:hover, nav a:not(#___gcse_0 *):hover {
  border-radius: 5px;
  background-color: $backgroundColor;
}

nav .dropdown a {
  margin: 0;
}

nav .dropbtn {
  background-color: $backgroundColorLight;
  color: $lightBlue;
  padding: 0.7em;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

nav .dropdown {
  position: relative;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: $backgroundColorLight;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .dropdown-content a {
  padding: 10px 0px 10px 7px;
  text-decoration: none;
  display: block;
}

nav .dropdown-content a:hover {
    background-color: $backgroundColor
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

// rules for banner and navbar on mobile

@media screen and (max-width: 1025px) {
  // header {
  //   width: 80%;
  // }

  .banner {
    display: flex;
    flex-direction: row;
    padding: 0!important;
    // padding: auto;
    width: 100%;
  }

  header {
    width: 100%;
    text-align: center;
  }

  .banner h1 {
    font-size: 1.6rem;
  }

  .banner h1 a {
    padding: 0;
  }

  // nav {
  //   width: 20%;
  // }

  i {
    max-width: 15px;
    max-height: 15px;
    font-size: 2px;
  }

  .banner img {
    max-width: 80px;
    max-height: 80px;
    padding: 2% 5%;
  }
}

@media screen and (max-width: 295px) {
  #banner_nav_wrapper {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .banner img {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 622px) {
  .banner h1 {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 720px) {
  .banner h1 {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 780px) {
  .banner h1 {
    font-size: 2.3rem;
  }

  .banner img {
    max-width: 85px;
    max-height: 85px;
  }
}

// banner on PC

@media screen and (min-width: 1025px) {
  .banner {
    display: flex;
    flex-direction: row;
  }

  .banner img {
    max-width: 140px;
    max-height: 140px;
    padding: 10px;
  }

  .banner h1 {
    padding-left: 10px;
    font-size: 2.8rem;
    text-align: center;
    margin: 18px 12px;
  }

  // #banner_nav_wrapper {
  //   display: flex;
  //   flex-direction: row;
  // }
}

a {
  outline : none;
  text-decoration: none;
  color: $lightBlue
}

a:visited {
  color: $lightBlue
}

h2 {
  color: $pinkColor;
  text-align: center;
}

/*
credit for below code snippet:
https://stackoverflow.com/questions/2812770/add-centered-text-to-the-middle-of-a-hr-like-line
*/

.separator h2 {
  color: $pinkColor;
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1%;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $pinkColor;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

/*
end of code snippet
*/

.sub-title h2{
  color: $pinkColor;
  text-align: left;
  font-size: x-large;
}

/*
Sets width of hamburger-menu icon
*/
.hamburger-menu svg{
  width: 20%;
}

/*
Sets the default position for the list vertical and in the centre for visible mobile view
*/
.menu-link, .hamburger-menu {
  justify-content: center;
  display: flex;
}

.fa-bars{
  font-size: 70px;
}

@media screen and (max-width: 1025px) {
  .fa-bars {
    max-width: 40px;
    max-height: 40px;
    font-size: 40px;
  }
}

/*
Hides the Hamburger menu for pcs and returns to horizontal format
*/
@media screen and (min-width: 1025px) {
  .menu-link, nav .dropdown{
    display: inline-block;
    justify-content: unset;
  }
  .hamburger-menu{
    display: none;
  }

  .search {
    position: relative !important;
    width: 15em !important;
  }

  #___gcse_0 {
    width: 100% !important;
  }
}

@media screen and (max-width: 1025px) {
  .mobile-hidden{
    display: none !important;
  }

}

#video {
    position: relative;
    width: 100%;
    padding-top: 56.25%; // 16:9 aspect ratio
}

#video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 720px;
}

.width-squish {
  width: 80%;
}

// search bar

.gsc-control-cse{
  padding: 0 !important;
  background: none !important;
  border: none !important;
}


#___gcse_0 {
  width: 50%;
  margin: auto;
}
.gsc-search-button.gsc-search-button-v2, .gsc-search-button.gsc-search-button-v2:focus {
  background-color: #00e7e7;
  border-color: #00e7e7;
}
.gsc-search-button.gsc-search-button-v2:hover {
  background-color: #eb3c68;
  border-color: #eb3c68;
  border-radius: 2px;
}

.nav ul .search {
  font-size: 1.2rem;

  outline : none;
  text-decoration: none;
  color: $lightBlue;
  display: inline-block;
  position: unset;
  top: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.blue {
  color: $lightBlue;
  font-weight: bold;
}

.pink {
  color: $pinkColor;
}

// index intro styling

@media screen and (max-width: 1025px) {
  #index_intro h1 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1025px) {
  #index_intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 0;
  }

  #index_intro h1 {
    font-size: 1.8rem;
    text-align: center;
  }
}

#index_intro img{
    height: 250px;
    //width: 250px;
}

#index_intro_wrap {
    padding: 0;
}

#index_intro_wrap.wrapper {
    margin-left: 10px;
}

// index on mobile

@media screen and (max-width: 650px) {
  .index-flex {
    display: flex;
    flex-direction: column;
  }

  #index-logo {
    display: none;
  }

  #indexBody {
    padding: 0 1em 1em 1em;
  }
}

@media screen and (min-width: 650px) {
  .index-flex {
    display: flex;
    flex-direction: row;
  }
}

.photo-showcase {
  width: 25%;
  min-width: 350px;
  background-color: $backgroundColorLight;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  border: black;
  border-width: 2px;
  border-style: solid;
  margin: 1% 5%;
}

.photo-showcase img {
  min-width: 200px;
  max-width: 300px;
  min-height: 100px;
  max-height: 250px;
  border-radius: 2px;
  margin:0.7em 0.3em;
  object-fit: cover;
  border: black;
  border-width: 2px;
  border-style: solid;
}

#what_we_do_photos, #events_showcases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 0;
}

// photos as rows, but smaller

@media screen and (max-width: 1430px) and (min-width: 991px) {
  .photo-showcase {
    width: 40%;
    min-width: 100px;
    max-width: 270px;
  }

  .photo-showcase img {
    min-width: 200px;
    max-width: 250px;
    min-height: 100px;
    max-height: 250px;
  }

  #what_we_do_photos {
    width: 90%;
    padding: 5%;
  }
}

// photos as columns

@media screen and (max-width: 990px) {
  .photo-showcase {
    width: 70%;
    min-width: 370px;
    max-width: 450px;
  }

  .photo-showcase img {
    min-width: 350px;
    max-height: 250px;
  }

  #what_we_do_photos {
    width: 90%;
    padding: 5%;
  }
}
