$backgroundColor: #1c1e29;
$backgroundColorLight: #33354b;
$bodyColor: #fff;
$pinkColor: #eb3c68;
$lightBlue: #00e7e7;

.session {
    background-color: $backgroundColorLight;
    margin: 0.6em 0%;
    padding: 0.6em;
    width: 75%;
    min-width: 370px;
    border-radius: 4px;
}

.session_title {
    color: $lightBlue;
}

.session_date {
    color: $pinkColor;
}

.session h4, h5 {
    margin: 0;
}

.session p {
    margin-bottom: 0;
}

@media only screen and (max-width: 450px) {
    .session {
        min-width: 100%;
    }
}
