---
layout: default
title: Wiki - Sessions
custom_css: wikisessions
---

<h3 class="title-center">Past session presentations and useful links!</h3>

<div id="sessions">

    {% for item in site.resources %}
        {% assign currentDate = item.date | date: '%y' %}
        {% assign month = item.date | date: '%-m' | plus: 0 %}
        {% if month < 8 %}
            {% assign currentDate = currentDate | minus: 1 %}
        {% endif %}
        {% if lastDate != currentDate %}
            <div class="heading"><h3>Year 20{{ currentDate }}/{{ currentDate | plus: 1 }}</h3></div>
        {% endif %}
        {% assign lastDate = currentDate %}
        <div class="session">
            {% capture path %}
                /assets/wiki/{{ item.file-name }}
            {% endcapture %}
            <div class="text">
                <a href="{{ path }}">{{ item.title }} - [{{ item.type }}]</a>
                <p>Released in {{ item.date | date: '%B, %Y' }} by {{ item.by }}
            </div>
        </div>
    {% endfor %}
</div>
