<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include header.html %}
  </head>
  <body>
    <div class="wrapper">
      {% include banner.html %}
      {% include nav.html %}
      {% if page.title %}
      <div class="subpage_banner">
        <div class="separator">
          <h2>{{ page.title }}</h2>
        </div>
      </div>
      {% endif %}
      <div class="content-wrapper">
          {{ content }}
      </div>
    </div>
  </body>
</html>
