<nav class="nav">
    <ul>
        <a href="/sessions">Sessions</a>
        <a href="/committee">Committee</a>
        <a href="/contact">Contact</a>
        <div class="dropdown" href="/wiki">
            <button class="dropbtn" onclick="document.location='/wiki/sessions'">Wiki</button>
            <div class="dropdown-content">
                <a href="/wiki/sessions">Previous Sessions</a>
                <a href="/wiki/resources">Resources</a>
            </div>
        </div>
    </ul>
</nav>
