<nav class="nav">
    <ul>
        <a href="/sessions">Sessions</a>
        <a href="/committee">Committee</a>
        <a href="/contact">Contact</a>
        <div class="dropdown" href="/wiki">
            <button class="dropbtn" onclick="document.location='/wiki'">Wiki</button>
            <div class="dropdown-content" href="/wiki">
                <a href="/wiki">Previous Sessions</a>
                <a href="/resources">Resources</a>
            </div>
        </div>
    </ul>
</nav>
